
  
  <li class="<%= 'active' if request.env['PATH_INFO'] == "/users" %>"><a href="/users">Пользователи</a></li>
  <li class="<%= 'active' if request.env['PATH_INFO'] == "/settings" %>"><a href="/settings">Настройки</a></li>

